
      <p>The table below describes the estimated workload per month:</p>

      <table class="table table-bordered">
        <thead class="table-primary text-white">
          <tr>
            <th>N</th>
            <th>Period</th>
            <th>Estimated workload per Resource (Man/day)</th>
            <th>Public holidays</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Period 1</td>
            <td><input type="number" class="form-control" /></td>
            <td><input type="number" class="form-control" /></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Period 2</td>
            <td><input type="number" class="form-control" /></td>
            <td><input type="number" class="form-control" /></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Period 3</td>
            <td><input type="number" class="form-control" /></td>
            <td><input type="number" class="form-control" /></td>
          </tr>
          <tr>
            <td colspan="3" class="fw-bold text-end">Total/resource</td>
            <td><input type="number" class="form-control" /></td>
          </tr>
          <tr class="table-secondary">
            <td colspan="3" class="fw-bold text-end">Total: Man/day</td>
            <td><input type="number" class="form-control" /></td>
          </tr>
        </tbody>
      </table>

