/* You can add global styles to this file, and also import other style files */

@import 'bootstrap-icons/font/bootstrap-icons.css';

html, body { height: 100%; }
body {
    font-family: 'Roboto', sans-serif;
    
  }
  
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Forcer l'overlay Angular Material au-dessus de tout */
.cdk-overlay-container,
.cdk-overlay-connected-position-bounding-box {
  z-index: 999999 !important;
}

.header-left img {
  margin-left: 15px; /* Tu peux augmenter selon le besoin, ex: 20px */
}


/* S'applique à toutes les tables */
table {
  width: 100% !important;
 
}


.container {
  max-width: 100% !important;
  padding-left: 40 !important;
  padding-right: 40 !important;
}
